# IDE folders
.idea/
__pycache__

# data files
data/alternatives/*
data/schedules/

# include example files
!data/alternatives/user/

# presentation files
presentation/*.txt
presentation/*.pptx
presentation/ai_slides/*.ai
